.layer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 100;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 366px;
  height: 341px;
  background-color: white;
  z-index: 200;
  .popup-inner {
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 265px;
  }

  .popup-title {
    font-size: 18px;
    font-family: 'Aleo-Regular';
    letter-spacing: 1.1px;
  }

  .popup-input {
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    width: 100%;
    font-size: 13px;
    padding: 11px 0;
    font-family: 'Aleo Regular';
  }

  .input-email {
    margin-top: 15px;
  }

  .input-password {
    margin-top: 30px;
  }

  .popup-submit {
    width: 100%;
    font-size: 13px;
    font-family: 'Aleo Bold';
    color: white;
    letter-spacing: 2px;
    background-color: #a83a5e;
    border-radius: 20px;
    margin-top: auto;
  }
}

@media (max-width: 400px) {

  .popup {
    width: 300px;
    height: 290px;

    .popup-inner {
      width: 245px;
      height: 245px;

      .popup-title {
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
  }
}
