@font-face {
  font-family: 'Bakery';
  src: url('../../fonts/bakery.otf');
}

@font-face {
  font-family: 'Aleo-Regular';
  src: url('../../fonts/Aleo-Regular.otf');
}

@font-face {
  font-family: 'Aleo Bold';
  src: url('../../fonts/Aleo-Bold.otf');
}

html {
  font-size: 1rem;
  font-family: 'Aleo Regular', serif;
}

@media (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.6rem;
  }
}

.app {
  background: url('../../images/background.png') no-repeat;
  background-size: cover;
  min-height: 100vh;
}