.site-header {
  width: 100%;
  height: 5.6rem;

  .container {
    height: 100%;

    .row {
      position: relative;
      height: 100%;
    }
  }

  .logo {
    position: absolute;
    top: 30%;
    left: calc(50% - 23px);
  }

  .nav {
    height: 100%;
    width: 100%;
    align-items: center;
    letter-spacing: 1px;
    font-size: 14px;

    .nav-group {
      width: 100%;
      display: inline-flex;
      list-style: none;
      justify-content: center;
      margin: 0;
    }

    .nav-item {
      margin: 0 1%;
      font-family: 'Aleo Regular';
    }

    .nav-link {
      color: #fff;
    }

    .space-before {
      margin-left: 14%;
    }

    .navbar-toggler {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .site-header {

    .nav .nav-item {
      width: 100%;
      margin: 0;

      &.space-before {
        margin-left: 0;
      }
    }

    .logo {
      left: 78%;
    }

    .navbar-toggler {
      display: block !important;
      color: white !important;
      position: absolute;
      top: 38%;
      left: 10% !important;
    }

    .nav-group {
      display: none !important;
    }

    .visible-group {
      display: block !important;
      text-align: center;
      padding: 70px 0 0 0;
    }
  }
}

