.site-footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: #000;
  opacity: 0.6;
  font-size: 11px;
  color: #fff;
  height: 50px;

  .container {
    height: 100%;

    .row {
      height: 100%;

      .col-12 {
        display: flex;
      }
    }
  }

  .copyright,
  .info {
    margin-top: 1%;
    letter-spacing: 1px;
  }

  .copyright {
    margin-left: -13%;
  }

  .cookies,
  .privacy,
  .separator {
    font-family: 'Aleo Bold';
    letter-spacing: 2px;
    color: #fff;
  }

  .separator {
    margin: 0 4.3%;
  }

  .info {
    margin-right: -12.5%;
  }
}

@media (max-width: 576px) {

  .site-footer {
    font-size: 11px;
    height: 70px;

    .copyright,
    .info {
      margin: 0;
    }
  }
}

