.site-content {
  color: #fff;
  padding-top: 8.5%;

  .title {
    font-family: 'Bakery';
    font-size: 4.7rem;
  }

  .btn-login {
    font-family: 'Aleo Bold';
    color: #fff;
    border: 2px solid white;
    border-radius: 25px;
    letter-spacing: 0.1rem;
    font-size: 0.5rem;
    padding: 15px 54px 10px 54px;
    font-weight: bolder;
    margin-top: 1rem;
  }
}


@media (max-width: 992px) {
  .site-content {
    padding-top: 13%;
  }
}

@media (max-width: 768px) {
  .site-content {
    padding-top: 18%;
  }
}

@media (max-width: 576px) {
  .site-content {
    padding-top: 24%;
    .btn-login {
      font-size: 0.7rem;
    }
  }
}